.container{
    display: flex;
    flex-direction: column;  
    width: 90%;
    height: 14%;
    padding: 5%;
}
.shadow{
    box-shadow: 1px 5px #ccc;
    -moz-box-shadow:    10px 3px  #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
}
.header{
    display: flex;
    flex-direction: row;
    flex:1;
    padding-bottom: 1%;
    border: solid 1px; 
    padding-top: 1%;
    border-color: rgba(78, 76, 76, 0.067);
}
.header__checkout{
    flex:1; 
    padding-left: 20;
}
.buy{
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid 1px; 
    border-color: rgba(78, 76, 76, 0.067);
}
.buy__payment{
    flex: 2;
}
.buy__cart{
    flex: 1;
    background-color: #4441;
}
.buy__cart, .buy__payment{
    text-align: justify;
    padding: 10;
}
.header__breadcrumb{
    flex: 1;
}
ul.breadcrumb__list{
    flex: 1;
    align-items: left;
    display: flex;
    flex-direction: row;
}
.fa-window-close{
    position: absolute;
    left: 92%;    
}
.header__cross{
    flex: 1;
}
ul.breadcrumb__list li+li::before{
    padding: 16px;
    content: "/";

} 