.container{
    display: flex;
    flex-direction: column;  
    width: 90%;
    height: 14%;
    padding: 5%;
}
.shadow{
    box-shadow: 1px 5px #ccc;
    -moz-box-shadow:    10px 3px  #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
}
.header{
    display: flex;
    flex-direction: row;
    flex:1;
    border: solid 1px; 
    padding-top: 10px;
    border-color: rgba(78, 76, 76, 0.067);
}
.header__checkout{
    flex:1; 
    margin-left: 20;
}
.buy{
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid 1px; 
    border-color: rgba(78, 76, 76, 0.067);
}
.buy__payment{
    flex: 2;
}
.buy__cart{
    flex: 1;
    background-color: #4441;
}
.buy__cart, .buy__payment{
    text-align: justify;
    padding: 10;
}
.header__shipping{
    flex: 1;
    text-align: end;

}
.header__confirmation{
    flex: 4;
}
.header__payment-method{
    flex: 1;
    text-align: center;
}
.fa-window-close{
    position: absolute;
    left: 92%;    
}
.header__shipping::after, .header__payment-method::after{
    content: "/";

} 